@import "classic_squared_tabs.css";
@import "tabs_container_indicator_for_classic_squared_tabs.css";
@import "ac_popup_megabar_compact_results.css";
@import "ac_popup_megabar_suggest_label_hidden.css";
@import "megabar_expanding_breakout_disabled.css";
@import "appbutton_popup_icons.css";
@import "popup_compact_menus.css";
@import "appbutton_popup_icons.css";

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Hide save page */
#context-savepage {
    display: none !important;
}

/* Hide context menu navigation */
#context-navigation, 
#context-sep-navigation { 
    display: none !important;
}

/* More pronounced border between tabs and urlbar */
#nav-bar {
	border-top: 0.01px var(--tabs-navbar-separator-style) light-dark(rgba(0,0,0,.3), rgba(0,0,0,.3)) !important;
}